<section class="home" id="home">
  <div class="home-wrapper d-flex">
    <div class="preview active">
      <header class="preview-text">
        <h2>
          Afghan Mobile Reconstruction Association (AMRAN) is a registered
          Afghan development non-governmental and non-profit organization.
        </h2>
        <a href="#who-we-are" class="button">Who We Are</a>
      </header>
    </div>
    <div class="preview">
      <header class="preview-text">
        <h2>
          Our vision is to see a developed Afghanistan with every person has
          equal rights to live in this world with dignity.
        </h2>
        <a href="#what-we-do" class="button">What we do</a>
      </header>
    </div>
    <div class="preview">
      <header class="preview-text">
        <h2 class="small-text">
          Our mission is to contributes in developing, uplift and
          self-sustain Afghan society with special emphasis to women and
          children through professional engagement in the sectors of Vocational
          trainings, Capacity building, Health, Education and Community
          Development.
        </h2>
        <a href="#contact" class="button">Contact</a>
      </header>
    </div>
  </div>
</section>
