<section>
  <h2>
    What we do
  </h2>

  <article>
    <h3>Our intervention</h3>
    <p>
      Between 1991 to 2016, AMRAN successfully implemented some 300 projects in
      partnership with USAID, GIZ, UN Agencies, Embassies, PRT and various other
      donors.
    </p>
    <ul>
      <li>
        Construction Projects: 46
      </li>
      <li>
        Food Security Project: 19
      </li>
      <li>
        Irrigation Projects: 25
      </li>
      <li>
        Democracy, Human rights and election related projects: 9
      </li>
      <li>
        Agriculture Projects: 38
      </li>
      <li>
        Survey Projects: 23
      </li>
      <li>
        Water Supply Projects: 20
      </li>
      <li>
        Health Projects: 16
      </li>
      <li>
        Capacity Building & Income Generation Projects: 97
      </li>
    </ul>
    <section>
      <h4>Impact (Between the year 2011 and 2017)</h4>
      <table>
        <thead>
          <tr>
            <td>Curriculum Developed</td>
            <td>Trainings Delivered</td>
            <td>People Trained</td>
            <td>People Placed on Jobs</td>
            <td>SMEs Established</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>149</td>
            <td>520</td>
            <td>13000</td>
            <td>2311</td>
            <td>32</td>
          </tr>
        </tbody>
      </table>
    </section>
  </article>

  <article>
    <h3>
      Recognition
    </h3>

    <section>
      <h4>CREATIVE/AWDP:</h4>
      <p>
        ….I can confidently say that I haven’t seen another class with similar
        level of discipline, Active and beauty, with Creative/AWDP’s training
        framework yet…..
      </p>
      <p>Basir Sherzai, AWDP M & E Field Specialist.</p>
    </section>

    <section>
      <h4>Ministry of Communication and Information Technology: Jan 25,2016</h4>
      <p>
        Afghan Telecom corporation, sincerely appreciates your genuine efforts
        via successfully implementation of capacity building training.
      </p>
      <p>Nik Muhammad Mandozai, Director of Afghan Telecom Corporation.</p>
    </section>

    <section>
      <h4>
        Ministry of Urban Development Affairs & housing Contraction Enterprise:
      </h4>
      <p>
        Housing Contraction Enterprise, really appreciate you to capacity
        building and enhancement of our employee’s capacity via your
        professional and outstanding training.
      </p>
      <p>
        Eng. M. Jawad Moradi, Acting General Director, House Construction
        Enterprise, MUDA
      </p>
    </section>

    <section>
      <h4>Directorate of Women and Cultural Affairs Laghman</h4>
      <p>
        We, whole heartedly, appreciate your efforts and the successful
        completion of community development program for women in Mehterlam city
        and districts in Laghman province.
      </p>
      <p>Hanifa Sapai, Director women affairs, Laghman</p>
    </section>

    <section>
      <h4>Khost Municipality</h4>
      <p>
        We truly admire the efforts made by AMRAN to successful implement the
        program and created an environment of peace and trust between youth and
        the municipality. Furthermore, they provided trainings to youth, who
        further provided enhance and provided beneficial services to the
        municipality.
      </p>
      <p>Eng. Mohammad Sharif, Deputy Mayor</p>
    </section>

    <section>
      <h4>Ministry of Education, Baghlan,</h4>
      <p>
        We are thankful and highly appreciate AMRAN activities to provide
        training to 2408 youth, community banks, Member of CDCs in 15 different
        topics related to Youth rights and responsibilities, Cotemporary
        technologies, basic business skills, communication, Job search
        techniques, Approaching Gov’t bodies, Leadership etc.
      </p>
      <p>Muhammad Saeed Mansor, Director Education Baghlan</p>
    </section>

    <section>
      <h4>Creative Associates International, Afghanistan,</h4>
      <p>
        Recognizing AMRAN’s efforts in quality training and placement, Creative/
        AWDP awarded AMRAN a team performance recognition Initiation (TPRI)
        appreciation certificate for demonstrating excelling in the quality
        deliverables and timely completion of grants. Creative/ AWDP recommends
        the organization for any workforce development endeavor in the future.
      </p>
      <p>Nick Steven, DCoP, Creative/ AWDP</p>
    </section>

    <section>
      <h4>Da Afghanistan Breshna Sherkat (DABS): Jan 20,2016</h4>
      <p>
        On behalf of the Da Afghanistan Breshan Sherkat we would like to extend
        our utmost appreciation for delivering training to DABS employees. AMRAN
        truly demonstrated high level of professionalism and incredible energy
        into ensuring that the project runs smoothly. The training was uniquely
        designed and delivered in a way that trainees. Upon the conclusion of
        training, we received many positive from our employees for the excellent
        service profiled and the better job performance they achieved.
      </p>
      <p>Hadi Alami, Director Human Resource, DABS</p>
    </section>
  </article>

  <article>
    <h3>Success Stories</h3>
    <p>
      Zahra Hussain is from Bamyan farther afield District Panjaab. She was born
      and grew up in a lower middle class family. Her father was the only family
      member earning an income, through farming. Her parents had wanted to
      educate their daughter and other children, but were unable to, due to
      their financial situation. She therefore, went to a technical college in
      Kabul to get a 2 years’ diploma in engineering. Soon after graduation she
      realized that she is missing the skills required by the PSEs and some
      other basic skills that could help her find jobs.
    </p>
    <p>
      After hearing her friend story, Maryam (Who received the training in
      AWDP/AMRAN) who told her that there are a lot of opportunities with
      USAID/AWDP program to receive specific competency based training that
      meets the requirement of job market and that program further provide soft
      skills trainings that together results in the transition of skills into
      job. and that she should try it. There is more sit for another jobseeker.
      Zahra built a vision in her mind and shared her ideas with her father. She
      then went to a training center to participate in Auto cad training. During
      the training period, with the support of AMRAN, she started to take work
      orders for small jobs. After the end of her training she started working
      full-time in that company.
    </p>
    <p>
      Within a few days, she become very popular in the company, and increased
      her customer base. Soon after, other unemployed women (Female Engineer)
      who were struggling to feed their families came to her to develop their
      skills in Auto Cad in order to find the job/or Start their own business.
      After hearing this story, Zahra agreed to train them for free” She Said”.
      Because she remembers her situation which she had. At least eight women
      have received training from Zahra and are now able to earn a living using
      Auto Cad that she trained them.
    </p>
    <p>
      Since becoming involved with this company Zahra has a regular income and
      her family no longer struggles to find food. Her little sister and
      brothers growing up with adequate food, health care and in a good
      environment. "I am feeling now that I am in charge of my shinny future",
      she said.
    </p>
  </article>
</section>
