<section>
  <h2>
    Who we are
  </h2>

  <article>
    <h3>About us</h3>

    <p>
      Afghan Mobile Reconstruction Association (AMRAN) is a registered Afghan
      development non-governmental and non-profit organization. Established in
      1990, it has assisted and contributed towards the improvement of social
      and economic conditions of Afghans.
    </p>
    <p>
      AMRAN has implemented more than 300 projects in partnership with several
      UN, USAID and other foreign donor agencies.
    </p>
    <h4>
      It has experiences in the following fields.
    </h4>
    <ul>
      <li>Training and Development</li>
      <li>Employment Related Services</li>
      <li>Humanitarian services</li>
      <li>Health Services</li>
      <li>Agricultural Services</li>
    </ul>
  </article>

  <article>
    <h3>
      Vision / Mission/ Core Values
    </h3>

    <p>
      <strong> Vision: </strong> AMRAN vision is to see a developed Afghanistan
      with every person has equal rights to live in this world with dignity.
    </p>
    <p>
      <strong> Mission: </strong> AMRAN’s mission is to contribute in
      developing, uplift and self-sustain Afghan society with special emphasis
      to women and children through professional engagement in the sectors of
      Vocational trainings, Capacity building, Health, Education and Community
      Development.
    </p>
  </article>

  <article>
    <h3>Team</h3>

    <section>
      <h4>
        Board Members
      </h4>

      <ul>
        <li>
          <h5>
            Abdul Qayum
          </h5>
          <p>
            Chair Person, AMRAN
          </p>
        </li>
        <li>
          <h5>
            Eng. Ajmal Hussain
          </h5>
          <p>
            Chief Engineer, MSCC
          </p>
        </li>
        <li>
          <h5>
            Muhammad Inam Wak
          </h5>
          <p>
            Tech. Advisor, AMRAN
          </p>
        </li>
        <li>
          <h5>
            Ms. Kharia Omar
          </h5>
          <p>
            Director, WUR
          </p>
        </li>
      </ul>
    </section>

    <section>
      <h4>
        Leadership
      </h4>

      <h5>
        Abdul Qayum, Executive Director, MA Political Science
      </h5>

      <p>
        Over the span of 2 years, He has successfully led over 300 projects and
        has attended several forums in Europe, America and Asia on the
        development of Afghanistan. As an active member of Afghanistan
        independent bar association.
      </p>
    </section>

    <section>
      <h4>
        Management Team:
      </h4>

      <ul>
        <li>
          <h6>
            Syed Muqadas, Head of Program, MBBS, MBA
          </h6>
          <p>
            As a Head of program team, He has extensive experience in managing
            grants funded by USAID, GIZ, UN and from other donor agencies. He
            has conducted training need assessments, developed curriculum,
            design/ delivered training and provided employment related services.
          </p>
        </li>
        <li>
          <h6>Viren Sharma, Head of Development, MBA</h6>
          <p>As a head of planning and development, He has extensive experience in business development and other charity works. He has experienced working in Asia and Europe. He specializes in environmental engineering, finance, training, consulting and fund raising.</p>
        </li>
        <li>
          <h6>Hameedullah, Operation Manager, ACCA </h6>
          <p>Over 7 years of Professional experience Ernst and Young in audit/assurance and advisory and as well as experience with other national and international non-profit organizations. He is highly proficient in operation management, business development and trainings.</p>
        </li>
      </ul>
    </section>
  </article>


  <article>
  <h3>
    Donors and Partners:
  </h3>

  <ul class="d-flex wrap donors">
    <li>
      <img src="./img/donors/ard.png" alt="ARD">
    </li>
    <li>
      <img src="./img/donors/australian-aid.jpg" alt="Australian AID">
    </li>
    <li>
      <img src="./img/donors/care.png" alt="care">
    </li>
    <li>
      <img src="./img/donors/counterpart-int.png" alt="counterpart-int">
    </li>
    <li>
      <img src="./img/donors/creative.png" alt="creative">
    </li>
    <li>
      <img src="./img/donors/dai.png" alt="dai">
    </li>
    <li>
      <img src="./img/donors/donor-1.png" alt="donor">
    </li>
    <li>
      <img src="./img/donors/fao.png" alt="fao">
    </li>
    <li>
      <img src="./img/donors/giz.png" alt="giz">
    </li>
    <li>
      <img src="./img/donors/if-hope.jpg" alt="if-hope">
    </li>
    <li>
      <img src="./img/donors/ird.png" alt="ird">
    </li>
    <li>
      <img src="./img/donors/oxfam.png" alt="oxfam">
    </li>
    <li>
      <img src="./img/donors/un-habitat.png" alt="un-habitat.png">
    </li>
    <li>
      <img src="./img/donors/unama.png" alt="umana">
    </li>
    <li>
      <img src="./img/donors/undp.jpg" alt="undp">
    </li>
    <li>
      <img src="./img/donors/unhcr.jpg" alt="unhcr">
    </li>
    <li>
      <img src="./img/donors/unicef.png" alt="unicef">
    </li>
    <li>
      <img src="./img/donors/unicef2.jpg" alt="unicef">
    </li>
    <li>
      <img src="./img/donors/unocha.png" alt="unocha">
    </li>
    <li>
      <img src="./img/donors/unops.png" alt="unops">
    </li>
    <li>
      <img src="./img/donors/usaid.jpg" alt="usaid">
    </li>
    <li>
      <img src="./img/donors/wfp.jpg" alt="wfp">
    </li>
  </ul>
  </article>

  <article>
    <h3>Organization Chart</h3>
    <img src="../assets/img/organisationchart.png" alt="Organization Chart">
  </article>

</section>
